:root{
    --bg: white;
    --fg: #ebece9;
    --dark_green: #172D13;
    --orange: #D76F30;
    --light_green: #6BB77B;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark_green);
    margin: 0rem;
    font-family: 'Monoton';
    font-size: 24px;
    scroll-behavior: smooth;
    color: var(--fg);
}

.container {
    margin: 5vw;
    margin-top: 1vh;
    padding: 2vw;

}

.question {
    padding-bottom: 2rem;
    display: none;
    min-height: 40vh;
}

.active {
    display: inline-block;
}


h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#email {
    color: var(--fg);
    background-color: var(--dark_green);
    border: 2px solid var(--fg);
    border-radius: 700px;
    margin-top: 2rem;
    padding: 8px;
}

#sub-btn,
.button_umfrage,
.umfrage-sub {
    /* font-size: 2rem; */
    padding-bottom: 1.3vw;
    padding-top: 1.3vw;
    background: var(--dark_green);
    color: var(--fg);
    margin: auto;
    border: 1px solid var(--fg);
    border-radius: 20px;
    width: 20vw;
    font-size: 1.5rem;
    font-weight: 600;
}

#sub-btn,
.button_umfrage:hover,
.umfrage-sub:hover {
    background: var(--orange);
    border: 1px solid var(--orange);
    transition: 0.5s ease;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    
    .answer label {
        /* font-size: 3rem; */
    }

    .answer input {
        /* height: 40px; */
        /* width: 40px; */
        margin-right: 2vw;
    }

    .question {
        margin-bottom: 2vh;
    }
}

.answer {
margin-top: 15px;
}

.disclaimer {
    margin-top: 1rem;
    font-size: 0.8rem;

}

.btn_wrapper {
    display: flex;
    justify-content: space-around;

}

#final_sub { 
    display: none
}

#form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
